<form class="form-signin" #form="ngForm">
   <h1 style="text-align: center;">ChatRoom</h1>
   <br/>
    <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" #email="ngModel" [(ngModel)] ="user.email"  id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    
    <div class="row" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div  class="col-md-12" *ngIf="email.errors.required" >
          <div class="alert alert-danger" role="alert">
              Email required
          </div>
      </div>
   </div>
   
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" #password="ngModel" [(ngModel)] ="user.password"  class="form-control" placeholder="Password" required>
    
    <div class="row" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div  class="col-md-12" *ngIf="password.errors.required" >
          <div class="alert alert-danger" role="alert">
              Password required
          </div>
      </div>
   </div>
    <div class="checkbox mb-3">
     
        <a style="color:blue;" [routerLink]="['/Register']">Click here to register</a>
     
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Sign in</button>
    <div *ngIf="errorsMessage" class="alert alert-danger" role="alert">
      {{errorsMessage}}
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>