<div class="card">
  <div class="card-header">Register</div>
  <div class="card-body">
      <form name="my-form" #form="ngForm">
          
          <div class="form-group row">
              <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
              <div class="col-md-6">
                  <input type="text" required #email="ngModel" [(ngModel)] ="user.email" id="email_address" class="form-control" name="email">
              </div>

              
          </div>
          <div class="row" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div  class="col-md-6 offset-md-4" *ngIf="email.errors.required" >
                <div class="alert alert-danger" role="alert">
                    Email required
                </div>
            </div>
         </div>
         
          


          <div class="form-group row">
              <label for="user_name" class="col-md-4 col-form-label text-md-right">User Name</label>
              <div class="col-md-6">
                  <input type="text" required #userName="ngModel" [(ngModel)] ="user.userName" id="user_name" class="form-control" name="username">
              </div>
          </div>

          <div class="row" *ngIf="userName.invalid && (userName.dirty || userName.touched)">
            <div  class="col-md-6 offset-md-4" *ngIf="userName.errors.required" >
                <div class="alert alert-danger" role="alert">
                    UserName required
                </div>
            </div>
          </div>
          

        
          <div class="form-group row">
            <label for="exampleInputPassword1" class="col-md-4 col-form-label text-md-right">Password</label>
            <div class="col-md-6">
                <input type="password" required name="pasword"  #password="ngModel" [(ngModel)] ="user.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            
            
          </div>

          <div class="row" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div  class="col-md-6 offset-md-4" *ngIf="password.errors.required" >
                <div class="alert alert-danger" role="alert">
                    Password Required
                </div>
            </div>
          </div>
          

          <div class="form-group row">
            <label for="exampleInputPassword2" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
            <div class="col-md-6">
                <input type="password" required name="password2" #password2="ngModel" [(ngModel)] ="user.confirmPassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            
          </div>
          <div class="row" *ngIf="password2.invalid && (password2.dirty || password2.touched)">

            <div  class="col-md-6 offset-md-4" *ngIf="password2.errors.required" >
                <div class="alert alert-danger" role="alert">
                    Confirm password required
                </div>
            </div>
        </div>
          


              <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-primary" (click)="register()">
                  Register
                  </button>
              </div>
          </form></div>

          <div *ngIf="errorsMessage" class="alert alert-danger" role="alert">
            {{errorsMessage}}
          </div>
          
          <div *ngIf="isSucessfull" class="alert alert-success" role="alert">
            User registered successfully.
          </div>
          
      
  </div>